spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.hikari.initialization-fail-timeout=
spring.datasource.hikari.connection-timeout=

spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=
spring.jpa.database-platform=
